@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --background-color: #c12e22;
    --text-color: #f9f9f9;
    --light-gray: #888888;
    --dark-gray: #333333;
}

.background-color{
    background-color: var(--background-color);
}

.primary-color{
    color: var(--background-color);
}

.text-color{
    color: var(--text-color);
}

.light-gray{
    background-color: var(--light-gray);
}

.dark-gray{
    background-color: var(--dark-gray);
}

.btn {
    background-color: #ffffff;
    color: var(--background-color);
}

header{
    background-color: var(--background-color);
    color : var(--text-color);
    font-family: 'Open Sans';
}

footer{
    background-color: #d7d7d7;
    color: var(--dark-gray);
    font-family: 'Open Sans';
}