@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --background-color: #c12e22;
    --text-color: #f9f9f9;
    --light-gray: #888888;
    --dark-gray: #333333;
}

.background-color{
    background-color: var(--background-color);
}

.primary-color{
    color: var(--background-color);
}

.text-color{
    color: var(--text-color);
}

.title-color{
    color: var(--dark-gray);
}

.little-color{
    color: var(--light-gray);
}

.light-gray{
    background-color: var(--light-gray);
}

.dark-gray{
    background-color: var(--dark-gray);
}

.btn{
    background-color: var(--light-gray);
    color: var(--background-color);
    border-radius: 4px;
    font-family: 'Open Sans';
    border: none;
    outline: none;
}

.subheader{
    background-color: #d7d7d7;
    color: var(--dark-gray);
    font-family: 'Open Sans';
}

.button {
    background-color: #d7d7d7;
    color: var(--dark-gray);
    border-radius: 4px;
    font-family: 'Open Sans';
    border: none;
    outline: none;
}

.btn-product {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    font-family: 'Open Sans';
    border: none;
    outline: none;
}

.dropdown-item {
    font-size: 14px;
}

.centrer {
    color: var(--dark-gray);
    text-align: center;
}

.foot {
    position:absolute;
    bottom:0;
    width:100%;
}

.product {
    width: 60%;
}

.description {
    width: 40%;
    margin-top: 14vw;
}


header{
    background-color: var(--background-color);
    color : var(--text-color);
    font-family: 'Open Sans';
}

footer{
    background-color: #d7d7d7;
    color: var(--dark-gray);
    font-family: 'Open Sans';
}